:root{
    --color-blue-medium: #8fe2e4;
    --color-purple: #632ce7;
    --color-gray:#ccc;
    --color-gray-medium:#f8f9fa;
    --color-yellow:#fac32c;
}
/*--General Stylee--*/
.a-dark{
    color: black;
}
.container>.row{
    margin-bottom: 3rem;
}
/*--Sections--*/
/*--Nav--*/
.navbar-brand>img{
    width: 55px;
    padding-left: 10px;
}
.navbar-main .active{
text-decoration: underline wavy var(--color-purple);
text-underline-offset: 9px;
}
/*-----Header ----------*/
.icons-social-networks >a{
--size: 45px;
width: var(--size);
height: var(--size);
border-radius: 50%;
display: inline-flex;
justify-content: center;
align-items: center;
}

.icons-social-networks >a,
.sec-clients> a{   
    transition: filter 0.5s ;
}
.icons-social-networks >a:hover,
.sec-clients> a:hover{
    filter: opacity(0.5);
}
.icon-svg-size>img{
    width: 35px;
}
.bg-instagram{background-color: #ff0e56;}
.bg-twitter{background-color: #33a9f3;}
.bg-linkedin{background-color: #7d9df3;}

.header-main{
    min-height: 100vh;
}

/*Portfolio --------*/

.portfolio-item:hover>img{
transition: 0.4s transform; 
}
.portfolio-item:hover>img{
    transform: scale(0.96) ;
}
/*-----Clients----*/
.bg-purple{
    background-color: rgba(131 87 235 / 0.3);
    filter  : opacity(0.55); 
}

@media screen and(max-width: 376px) {
    
}
body{
    overflow-x: hidden !important;
 }